<div class="border-end bg-white" id="sidebar-wrapper"></div>

    <div class="sidebar list-group list-group-flush">
        <a class="list-group-item list-group-item-light admin_hp_link p-3 active-page-side-bar" href="/adminPortal">ADMIN
            HOME PAGE</a>
        <a class="list-group-item list-group-item-light user_management_link p-3" href="/userManagement">USER
            MANAGEMENT</a>
        <a class="list-group-item list-group-item-light product_management_link p-3" href="/productManagement">PRODUCT
            MANAGEMENT</a>
    </div>
</div>