<div id="sidebar-wrapper">
    <button class="toggle-btn">Admin Portal</button>
    <div class="sidebar">
        <a class="admin_hp_link active" href="#" data-content="userMgmt">User Management</a>
        <a class="user_management_link" href="#" data-content="productMgmt">Product Management</a>
        <a class="user_management_link" href="#" data-content="branchMgmt">Branch Management</a>
        <a class="user_management_link" href="#" data-content="adminStats">Stats</a>
    </div>
</div>