<div id="sidebar-wrapper">
    <button class="toggle-btn">Toggle Sidebar</button>
    <div class="sidebar">
        <a class="admin_hp_link active" href="#" data-content="adminPortal">Admin Portal</a>
        <a class="user_management_link" href="#" data-content="userMgmt">User Management</a>
        <a class="user_management_link" href="#" data-content="productMgmt">Product Management</a>
        <a class="user_management_link" href="#" data-content="branchMgmt">Branch Management</a>
        <a class="user_management_link" href="#" data-content="adminStats">STATS</a>
    </div>
</div>