<div class="border-end bg-white" id="sidebar-wrapper"></div>

    <div class="sidebar list-group list-group-flush">
        <a class="list-group-item list-group-item-light admin_hp_link p-3 active-page-side-bar" href="/adminPortal">Admin Portal</a>
        <a class="list-group-item list-group-item-light user_management_link p-3" href="/userManagement">User Management</a>
        <a class="list-group-item list-group-item-light user_management_link p-3" href="/productManagement">Product Management</a>
        <a class="list-group-item list-group-item-light user_management_link p-3" href="/branchManagement">Branch Management</a>
        <a class="list-group-item list-group-item-light user_management_link p-3" href="/branchManagement">STATS</a>
    </div>
</div>