<!DOCTYPE html>
<html lang="en">
<%- include ("./includes/head") %>
<body>
<%- include ("./includes/header") %>
<div id="loader">
    <img src="./images/loader.svg" alt="">
</div>
<div class="admin_section">
    <div class="d-flex" id="wrapper"></div>
    <%- include ("./includes/sidebar") %>
    <div class="container">
        <div id="admin-statistics">
            <div class="chart-container" id="usersChartContainer"></div>
            <div class="mb-2"></div>
            <div class="chart-container" id="productsChartContainer"></div>
        </div>
    </div>
</div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="./js/charts.js"></script>
<script>
</script>
</body>
</html>
