<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head') %>
<body>
    <%- include('./includes/header') %>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Your Cart</h2>
        <div id="cart-container"></div>
        <button id="place-order-btn" class="btn btn-primary btn-block mt-4">Place Order</button>
    </div>

    <%- include('./includes/footer') %>
    <script src="/public/js/cart.js"></script>
</body>
</html>
