<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head') %>
<body>
    <%- include('./includes/header') %>

    <div class="cart_section">
        <h2>Your Cart</h2>
        <p>Here are the items in your cart:</p>
        <ul>
            <li>Classic Burger - $10.00 <a href="#">Remove</a></li>
            <li>Cheese Burger - $12.00 <a href="#">Remove</a></li>
            <li>Fries - $5.00 <a href="#">Remove</a></li>
        </ul>
        <div class="total">
            <h3>Total: $27.00</h3>
            <a href="/checkout" class="btn btn-primary">Proceed to Checkout</a>
        </div>

        <!-- Suggested Items Section -->
        <div class="suggested_items">
            <h3>Suggested Add-Ons</h3>
            <ul>
                <li>Onion Rings - $4.00 <a href="#">Add</a></li>
                <li>Milkshake - $6.00 <a href="#">Add</a></li>
                <li>Extra Sauce - $1.50 <a href="#">Add</a></li>
            </ul>
        </div>
    </div>

    <%- include('./includes/footer') %>
    <script src="/public/js/cart.js"></script>
</body>
</html>
