<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="hero_area">
    <div class="bg-box">
    </div>
    <section class="hero-text">
        <div class="container ">
            <div class="row">
                <div class="detail-box">
                    <h1>
                        Burger-Hut inc.
                    </h1>
                    <p>
                        Welcome to Burger Hut
                    </p>
                    <button id="branchesButton">Shai the rasar</button>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
<script src="/public/js/home.js"></script>
</body>
</html>