<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
</head>
<body>
    <%- include('./includes/header') %>

    <div class="menu_section">
        <h2>Our Menu</h2>
        <div class="menu_items">
            <div class="item">
                <img src="/images/burger.jpg" alt="Burger">
                <h3>Classic Burger</h3>
                <p>$10.00</p>
                <a href="/cart" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>

    <%- include('./includes/footer') %>
</body>
</html>
