<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head') %>
<body>
    <%- include('./includes/header') %>

    <div class="container mt-5">
        <button class="btn btn-primary position-absolute top-1 end-0 m-2" data-bs-toggle="modal" data-bs-target="#editUserPopUp">Edit User</button>
        <h1 class="text-center">User Information</h1>
        <div class="row" id="information-list">
            <!-- User Information will be injected here by JavaScript -->
            <div class="col-md-12">
                <p><strong>Username:</strong> <span id="username"></span></p>
                <p><strong>Password:</strong> <span id="password"></span></p>
                <p><strong>Email:</strong> <span id="email"></span></p>
                <p><strong>Credit Card Number:</strong> <span id="creditNumber"></span></p>
                <p><strong>Expiration Date:</strong> <span id="date"></span></p>
                <p><strong>CVV:</strong> <span id="cvv"></span></p>
            </div>
        </div>
    </div>
    <%- include('./includes/footer') %>
    <%- include ("./includes/scripts") %>
    <script src="/public/js/profile.js"></script>

</body>
</html>
