.category-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    box-sizing: border-box;
}
<<<<<<< HEAD

input {
    margin-top: 20px;
=======
input {
    margin-top: 20px;
}
.items-container {
    display: flex; /* Use flexbox for horizontal layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-around; /* Distribute items evenly */
    margin-top: 20px; /* Add space between the title and items */
>>>>>>> 6def2d725888ef2f69f43ad6140fd12dab5c31e4
}

.item {
    padding: 10px;
    border: 3px solid #2e2c2c;
    margin: 10px;
    box-sizing: border-box; 
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #007bff; 
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3; 
}
