<script type="text/template" id="branchContainer">
    <div class="col-md-4 mb-4">
        <div class="card h-100 d-flex flex-column">
            <div class="card-body">
                <button class="btn btn-secondary dropdown-toggle position-absolute top-0 end-0 m-2" type="button" id="optionsMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" aria-labelledby="optionsMenuButton">
                    <li onclick="deleteBranch('{_id}')">
                        <a class="dropdown-item" href="#">Delete</a>
                    </li>
                    <li onclick="editBranch('{_id}')">
                        <a class="dropdown-item" href="#">Edit</a>
                    </li>
                </ul>
                <h5 class="card-title">Name: {name}</h5>
                <p class="card-text"><strong>Address:</strong> {address}, {city}</p>
                <p class="card-text"><strong>Phone number:</strong> {phoneNumber}</p>
                <p class="card-text"><strong>Active:</strong> {active}</p>
                <p class="card-text"><strong>Coordinates:</strong> {location}</p>
            </div>
        </div>
    </div>
</script>