<script type="text/template" id="branchCard">
    <div class="branch-card">
        <h2>Branch Name: {name}</h2>
        <p>Address: {address}, {city}</p>
        <p>Phone number: {phoneNumber}</p>
        <p>Active: {active}</p>
    </div>
</script>