<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Locations</title>
    <link rel="stylesheet" href="/public/css/branches.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div class="container">
        <div id="branches">
            <div id="branchHeader">
                <h1 class="formtitle">Branches</h1>
                <button id="addBranchButton">Add Branch</button>
            </div>
            <!-- Overlay for the modal -->
            <div id="overlay"></div>
            <div id="newBranchForm" class="login_form">
                <form id="branchForm" method="post">
                    <h1 class="formtitle">Add a new branch</h1>
                    <input id="branchId" type="hidden" name="branchId" />
                    <input id="branchName" type="text" name="Branch Name" placeholder="Branch Name"/>
                    <input id="branchAddress" type="text" name="Address" placeholder="Address"/>
                    <input id="branchCity" type="text" name="City" placeholder="City"/>
                    <input id="branchPhoneNumber" type="text" name="Phone Number" placeholder="Phone Number"/>
                    <div class="form-group">
                        <h1 for="branchStatus">Active</h1>
                        <input type="checkbox" id="branchStatus" name="active" />
                    </div>
                    <button id="saveBranchButton" type="button">Create</button>
                    <button id="cancelButton" type="button">Cancel</button>
                </form>
            </div>
            <div id="branchList">
                <!-- Branch cards will be appended here by JavaScript -->
            </div>
        </div>
        <div id="map"></div>
    </div>
    <!-- Template for a branch card -->
    <script type="text/template" id="branchCard">
        <div class="branch-card">
            <h2>Branch Name: {name}</h2>
            <p>Address: {address}, {city}</p>
            <p>Phone number: {phoneNumber}</p>
            <p>Active: {active}</p>
            <button class="editBranchButton" data-id="{_id}">Edit</button>
            <button class="deleteBranchButton" data-id="{_id}">Delete</button>
        </div>
    </script>
    <script src="/public/js/branches.js"></script>
    <script src="/public/js/map.js"></script>
</body>
</html>
