<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Viewer</title>
    
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Load jQuery before -->
    <!-- Include Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

    <!-- Include Geoapify script -->
    <script src="https://maps.geoapify.com/v1/maps?apiKey=<%= geoapifyApiKey %>"></script>
    
    <!-- Include custom JavaScript -->
    <script src="/public/js/map.js" defer></script>
</head>

<body>
    <h1>Map Viewer</h1>
    <div id="map" style="width: 100%; height: 500px;"></div>
</body>
</html>
