<!DOCTYPE html>
<html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>

<body class="body">
<form class="login_form" method="post">
    <h1 class="formtitle">REGISTRATION</h1>
    <input name="email" type="text" placeholder=" Email address"/>
    <input name="username" type="text" placeholder=" Username"/>
    <input name="password" type="password" id="password" placeholder=" Password"/>
    <input name="confirmPassword" type="password" id="confirmPassword" placeholder=" Confirm password"/>
    <input name="creditNumber" type="text" placeholder=" Credit number"/>
    <input name="date" type="text" placeholder=" Date"/>
    <input name="cvv" type="text" placeholder=" CVV"/>
    <button type="submit">REGISTER</button>
    <button type="button" onclick="window.location.href='/'">BACK TO LOGIN</button>
</form>
</body>

</html>

</html>