<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    
</head>

<body class="body">
    <div id="logo">
        <img src="https://prod-burgerhut.s3.eu-north-1.amazonaws.com/burgerHutIcon.png" alt="image" class="top-left-image">
   </div>
    <form class="login_form" id="register_form">
        <h1 class="formtitle">REGISTRATION</h1>
        <input name="email" type="email" placeholder="Email address" required />
        <input name="username" type="text" placeholder="Username" required />
        <input name="password" type="password" id="password" placeholder="Password" required />
        <input name="confirmPassword" type="password" id="confirmPassword" placeholder="Confirm password" required />
        <input name="address" type="text" placeholder="Address" required />
        <input name="city" type="text" placeholder="City" required />
        <input name="creditNumber" type="text" placeholder="Credit number" pattern="\d{13,19}" title="13-19 digits credit number" required />
        <input name="date" type="month" placeholder="Expiration date (MM/YYYY)" required />
        <input name="cvv" type="text" placeholder="CVV" pattern="\d{3,4}" title="3-4 digits CVV" required />
        <button type="submit">REGISTER</button>
        <button type="button" onclick="window.location.href='/'">BACK TO LOGIN</button>
    </form>

    <!-- Error message display -->
    <div id="error-message" style="color: red;"></div>

    <!-- Reference to the external JavaScript file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/register.js"></script>
</body>

</html>
